<html>
    <head>
        <style> 
            body {font-family: arial; margin: 20px; text-align: center;}
            td {padding: 10px;}
            .bullish { background: green; color: white; }
            .bearish { background: red; color: white; }
        </style>
    </head>

    <body>
        <h1>Candlestick Screener</h1>

        <form>
            <select name="pattern">
                <option value=""> -- Select a pattern -- </option>
                {% for key in candlestick_patterns %}
                    <option value="{{key}}" {% if pattern == key %} selected="selected"{%endif%}>{{candlestick_patterns[key][0]}} - {{candlestick_patterns[key][1]}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="scan">
        </form>

        <table border="1px">
            <tr>
                <th>
                    symbol
                </th>
                <th>
                    signal
                </th>
            </tr>
                
        {% for stock in stocks %}
            {% if stocks[stock][pattern] %}
            <tr>
                <td> {{stock}}: {{stocks[stock]['company']}} </td>
                <td class="{{stocks[stock][pattern]}}"> {{stocks[stock][pattern]}} </td>
            </tr>
            <tr>
                <td colspan="2"> <img src="static/k_chart/{{stock}}.png" /> </td>
            </tr>
            <tr> </tr>
            <tr> </tr>
            {% endif %}                 
        {% endfor %}
        </table>
        <style>
            table { 
                margin: 0 auto;
                text-align: center;
            }
        </style>


    </body>
</html>